---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
{% include base_path %}

{% assign sorted_pubs = site.publications | sort: "year" | reverse %}
{% assign years = sorted_pubs | map: "year" | uniq %}

{% assign count = 0 %}
{% for year in years %}
  <h2>{{ year }}</h2>
  <hr />
  {% for post in sorted_pubs %}
    {% if post.year == year %}
      {% assign count = count | plus: 1 %}
      <div>
        <strong>[{{ count }}]</strong>
        {% include archive-single.html %}
      </div>
    {% endif %}
  {% endfor %}
{% endfor %}




