{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="pub-item" style="margin-bottom: 1.2em;">
  <p>
    <strong>{{ post.title }}</strong><br />
    {{ post.author }}<br />
    <em>{{ post.venue }}</em>{% if post.paperurl %} [<a href="{{ post.paperurl  | relative_url }}">Pre-Print</a>]{% endif %}
  </p>
</div>

